@font-face {
  font-family: "Brandon-text-regular";
  src: url(fonts/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.otf);
}
@font-face {
  font-family: "Mayrean";
  src: url(fonts/SHRIMP.ttf);
}
@font-face {
  font-family: "Padauk";
  src: url(fonts/Padauk-Bold.ttf);
}

@font-face {
  font-family: "Ramabhadra";
  src: url("/fonts/homepage-fonts/Ramabhadra-Regular.ttf");
}

@font-face {
  font-family: Inter-light;
  src: url(/fonts/inter-static/Inter_18pt-Light.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(/fonts/inter-static/Inter_18pt-SemiBold.ttf);
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: clamp(2rem, 10vw, 15rem);
  height: 7vh;
  padding-inline: 5%;

  position: fixed;
  inset: 0 0 auto 0;
  z-index: 600;

  background-color: transparent;
  transition:
    background-color 0.3s ease-out,
    backdrop-filter 0.3s ease-out;
}

.navbar-container.scrolled-window {
  background-color: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
}

/* LOGO */
.logo-container {
  flex-shrink: 0;
}

.logo-container h1 {
  font-family: Ramabhadra;
  white-space: nowrap;
}

/* NAV LINKS */
.navbar-ul-tags-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 30px;
}

.navbar-container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #374b38;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.navbar-container a:hover::after {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  gap: clamp(1.05rem, 4vw, 3rem);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* CART + HAMBURGER */
.cart-hamburger-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, 4vw, 3rem);
}

.cart-hamburger-container i {
  font-size: clamp(1.6rem, 2.5vw, 2.3rem);
  color: #0e432a;
  cursor: pointer;
}

/* LINKS */
.navbar-container a {
  position: relative;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #0e432a;
  font-size: clamp(0.95rem, 1.2vw, 1.1rem);
}

/* SEARCH BAR */
.search-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  min-width: 0;
}

.search-bar-container input {
  outline: none;
  border: 1px solid #c4cfca;
  border-right: none;

  width: min(32rem, 100%);
  height: 2.5rem;
  padding-inline: 1rem;

  background-color: #eaf7ec;
}

.search-bar-container button {
  width: 6.25rem;
  height: 2.5rem;
  padding: 0 0.75rem;

  cursor: pointer;
  background-color: #eaf7ec;

  border: 1px solid #c4cfca;
  border-left: none;
}

.side-navbar-ul-tags-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 30px;

  transform: translateX(100%);
  transition: transform 0.35s ease;
  background-color: rgba(176, 201, 176, 0.377);
  backdrop-filter: blur(10px);

  z-index: 999;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  width: 250px;
}

.sidebar li a {
  color: black;
  font-family: sans-serif;
}
#sidebar-menu {
  display: none;
}

/* Navbar MEDIA QUERIES FOR RESPONSIVENESS ---------------------------------------------------------*/

@media (max-width: 952px) {
  .overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
  }

  .overlay.active {
    z-index: 999;
  }
}

@media (max-width: 1256px) {
  #sidebar-menu {
    display: flex;
  }

  .navbar-ul-tags-container {
    display: none;
  }
}

@media (max-width: 952px) {
  .search-bar-container {
    display: none;
  }
}
